body{
  margin: 0;
  padding: 0;
}
a.player-link{
  display: block;
  div.play-link-wrapper {
    display: table-cell;
    vertical-align: middle;
    background-color: lightgray;
    text-align: center;
    p{
      background: transparent url('img/play_white.png') no-repeat 50% 50%;
      height: 210px;
    }
  }
}

#controlls {
  margin-top: 10px;
}

#debug-mode {
  margin-top: 20px;
}
